Repository CAVaccineInventory/vaccine-feed-ingest, pull requests merged in 2021-04, with the labels that each got.

#75 Implemnt basic matching logic using concordances and addresses.
  vaccine_feed_ingest/runners/ca/sf_gov/normalize.py
  vaccine_feed_ingest/stages/load.py
  vaccine_feed_ingest/utils/__init__.py
  vaccine_feed_ingest/utils/match.py
  vaccine_feed_ingest/utils/normalize.py
Labels: pipeline infrastructure

#80 fix: shared parser recognizes `arcgis_features`
  vaccine_feed_ingest/runners/_shared/parse.py
Labels: bug, pipeline infrastructure

#131 Added fetch for nc data
  vaccine_feed_ingest/runners/nc/myspot_gov/fetch.py
Labels: runner/fetch

#118 Add normalize script for IN arcgis data
  vaccine_feed_ingest/runners/in/arcgis/normalize.py
Labels: runner/normalize
